:root {
    --background-color: #fbfbfb;
    --grey-color: #8c8c8c;
    --mid-light-grey-color: #c4c4c4;
    --light-grey-color: #fafafa;
    --accent-color: #51c33b;
    --accent-color-dark: #398829;
    --main-color: #3A1D51;
    --main-color-light: #5a2d7d;
    --secondary-color-light: #A682BA;
}

/* MODAL DE LA LEY */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-content {
    background: white;
    padding: 2.5%;
    border-radius: 0px;
    max-width: 700px;
    height: 75vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: relative;
    animation: fadeIn 0.3s ease-out;
    font-size: 1.125rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.modal-button {
    display: inline-block;
    margin-top: 1rem;
    padding: 15px 25px;
    background-color: var(--main-color-light);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.modal-button:hover {
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

#modal-numero {
    font-weight: bold;
    font-size: 1rem;
    color: var(--main-color, #3A1D51);
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

/* Título del modal */
#modal-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--main-color);
}

/* Alineación del texto justificado solo para la descripción */
#modal-description {
    text-align: justify;
    width: 90%;
}

#modal-description p {
    margin-top: 0px;
    margin-bottom: 10px;
    text-indent: 1em;
}

/* Ícono en el botón */
.modal-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 15px 25px;
    background-color: var(--main-color-light);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.modal-icon {
    width: 1.2rem;
    height: 1.2rem;
}

/* ===== DIRECTORIO ===== */
.modal-img {
    width: 60%;
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}